<% if @game.player_id.blank? && !@game.paused? && !current_player.blank? %>
  <%= form_with(model: @death) do |form| %>
    <% if @death.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@death.errors.count, "error") %> prohibited thid death from beging saved: </h2>
          <ul>
            <% @death.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

      <div class="field">
        <%= form.label :Assassin, "Asesino" %> <br>
        <%= form.select :assassin_id, options_from_collection_for_select(@game.players, :id, :name) %>
      </div>

      <div class="field">
        <%= form.label :Victim, "Victima" %> <br>
        <%= form.select :victim_id, options_from_collection_for_select(@game.players, :id, :name) %>
      </div>

      <div class="field">
        <%= form.label :zone, "Zona de muerte" %> <br>
        <%= form.select :zone, options_from_collection_for_select(@game.players, :id, :name) %>
      </div>
      
      <br>

      <div class="field">
        <%= form.label :soplo, "Soplo?" %> <br>
        <%= form.check_box :soplo %>
      </div>

      <div class="field">
        <%= form.label :assassin_pig, "Mordisco de puerca" %> <br>
        <%= form.check_box :assassin_pig %>
      </div>

      <div class="field">
        <%= form.label :victim_pig, "Mata puercazo" %> <br>
        <%= form.check_box :victim_pig %>
      </div>

      <div class="field">
        <%= form.hidden_field :game_id, value: @game.id %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= form.submit 'Añadir muerte', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>

      <a>
        <%= link_to 'Pausar', estado_path(@game), method: :put, data: { confirm: '¿Seguro quieres Pausar?' }, class: 'btn btn-primary my-3' %>
      </a>

  <% end %>
  

<% end %>


<div class="row">
  <div class="col-md-3 ">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asesino</th>
          <th scope="col">Victima</th>
          <th scope="col">Zona</th>
          <th scope="col"></th>


        </tr>
      </thead>

      <tbody>
        <% @deaths.each_with_index do |death, index| %>
          <tr style="background-color: <%= death.soplo ? 'red' : '' %>">
            <td ><%= index + 1 %></td>
            <td><%= death.assassin.name %></td>
            <td><%= death.victim.name %></td>
            <td style="background-color: <%= death.zone_death&.color %>"><%= death.zone_death&.name %></td>
            <% if death.assassin_pig %>
              <td><%= image_tag(asset_path("cerdo_feliz.jpeg"), style: "width: 50%; height: 50%;") %></td>
            <% end %>
            <% if death.victim_pig %>
                <td><%= image_tag(asset_path("cerdo_enojado.png"), style: "width: 60%; height: 60%;") %></td>
            <% end%>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3 ">
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>

          <th scope="col">Jugador</th>
          <th scope="col">Estado financiero</th>

        </tr>
      </thead>

      <tbody>
        <% @game.player_games.each do |pj| %>
          <tr>

            <td><%= pj.player.name %></td>
            <td>$<%= pj.cash %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 ">
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
            <th scope="col"></th>

            <% @game.player_games.each do |pj| %>
              <th scope="col"><%= pj.player.name %></th>
            <% end %>
            <th scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <% @game.player_games.each do |pj| %>
          <tr>

            <td><%= pj.player.name %></td>

            <% @game.player_games.each do |player| %>
              <td><%= deaths_for_player(player, pj, @game) %></td> 
            <% end %>

            <td><%= deaths_total(pj, @game) %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<% case %> 
  <% when !@game.player_id.blank? %>
      <p><%= mensaje_final(@game) %> </p>
      <%= link_to 'Volver', games_path, class: 'btn btn-secondary' %>

  <% when @game.paused? && !current_player.blank? %>
      <p>Partida pausada por <%= Player.find(@game.pauser_id).name %>  </p>
      <% if @game.pauser_id == current_player.id %>
        <%= link_to 'Reanudar', estado_path(@game), method: :put, data: { confirm: '¿Quieres reanudar?' }, class: 'btn btn-primary my-3' %>
      <% end %>
      <%= link_to 'Volver', games_path, class: 'btn btn-secondary' %>

  <% when @game.player_id.blank? && !@game.paused? && !current_player.blank? %>
      <%= form_with(model: @game) do |form| %>
        <div class="field">
          <%= form.label :Ganador %> <br>
          <%= form.select :player_id, options_from_collection_for_select(@game.players, :id, :name) %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= form.submit 'Terminar juego', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
    <% end %>


<% end %>