<% @deaths.each do |death| %>
  <%= "#{death.assassin.name} mato a #{death.victim.name}" %>
  <br>
<% end %>

<%= form_with(model: @death) do |form| %>
    <% if @death.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@death.errors.count, "error") %> prohibited thid death from beging saved: </h2>

          <ul>
              <% @death.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :Assassin %> <br>
      <%= form.select :assassin_id, options_from_collection_for_select(@game.players, :id, :name) %>
    </div>

    <div class="field">
      <%= form.label :Victim %> <br>
      <%= form.select :victim_id, options_from_collection_for_select(@game.players, :id, :name) %>
    </div>

    <div class="field">
      <%= form.hidden_field :game_id, value: @game.id %>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.submit 'Guardar', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
<% end %>