<div class="row">
  <div class="col-md-2 ">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asesino</th>
          <th scope="col">Victima</th>

        </tr>
      </thead>

      <tbody>
        <% @deaths.each_with_index do |death, index| %>
          <tr style="background-color: <%= death.soplo ? 'red' : '' %>">
            <td ><%= index + 1 %></td>
            <td><%= death.assassin.name %></td>
            <td><%= death.victim.name %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3 ">
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          
          <th scope="col">Jugador</th>
          <th scope="col">Estado financiero</th>

        </tr>
      </thead>

      <tbody>
        <% @game.player_games.each do |pj| %>
          <tr>

            <td><%= pj.player.name %></td> 
            <td>$<%= pj.cash %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 ">
      <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
            <th scope="col"></th>

            <% @game.player_games.each do |pj| %>
              <th scope="col"><%= pj.player.name %></th>
            <% end %>
            <th scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <% @game.player_games.each do |pj| %>
          <tr>

            <td><%= pj.player.name %></td>

            <% @game.player_games.each do |player| %>
              <td><%= Death.where(assassin_id: pj.player.id, victim_id: player.player.id,game_id: @game.id).count %></td>
            <% end %>
            
            <td><%= Death.where(assassin_id: pj.player.id, game_id: @game.id).count %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<% if @game.player_id.blank? %>
    <%= form_with(model: @death) do |form| %>
        <% if @death.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@death.errors.count, "error") %> prohibited thid death from beging saved: </h2>

              <ul>
                  <% @death.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= form.label :Assassin %> <br>
          <%= form.select :assassin_id, options_from_collection_for_select(@game.players, :id, :name) %>
        </div>

        <div class="field">
          <%= form.label :Victim %> <br>
          <%= form.select :victim_id, options_from_collection_for_select(@game.players, :id, :name) %>
        </div>
        <br>

        <div class="field">
          <%= form.label :soplo, "Soplo?" %> <br>
          <%= form.check_box :soplo %>
        </div>



        <div class="field">
          <%= form.hidden_field :game_id, value: @game.id %>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= form.submit 'Añadir muerte', class: 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
    <% end %>

      <%= form_with(model: @game) do |form| %>
      <div class="field">
        <%= form.label :Ganador %> <br>
        <%= form.select :player_id, options_from_collection_for_select(@game.players, :id, :name) %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= form.submit 'Terminar juego', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>

    <% end %>

<% else %>
    
    <p>Partida terminada, el ganador fue <%= @game.winner.name %> y ganó $<%= @game.player_games.where(player_id: @game.winner.id).first.winner_cash %> </p>
    <%= link_to 'Volver', games_path, class: 'btn btn-secondary' %>
<% end %>