<div class="container">
    <div class="row">
        <div class="col-md-5">
            <%= image_tag (@player.image).to_s , style: 'width:50%' %>
        </div>
        <div class="col-md-5">
            <h1><%= @player.name %></h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scoope="col">Color</th>
                    <th scoope="col">Puntos</th>
                    <th scoope="col">Asesinatos</th>
                    <th scoope="col">Muertes</th>
                    <th scoope="col">Finanzas</th>
                    <th scoope="col">Racha victorias</th>
                    <th scoope="col" colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><%= @player.color %></td>
                        <td><%= @player.won_games.count %></td>
                        <td><%= @player.assassin_counter %></td>
                        <td><%= @player.victim_counter %></td>
                        <td><%= @player.finanzas %></td>
                        <td><%= @player.racha_victorias %></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped">
            
                <thead class="thead-dark">
                    <tr>
                        <th scoope="col">Verdugos</th>
                        <th scoope="col">Numero de muertes</th>
                        <th scoope="col" colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @player.verdugos.each do |verdugo, muertes| %>
                        <tr>
                            <td><%= verdugo %></td>
                            <td><%= muertes %></td>
                        </tr>
                    <% end %>
                </tbody>
            
            </table> 

            <table class="table table-striped">
            
                <thead class="thead-dark">
                    <tr>
                        <th scoope="col">Presas</th>
                        <th scoope="col">Numero de muertes</th>
                        <th scoope="col" colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @player.presas.each do |presa, muertes| %>
                        <tr>
                            <td><%= presa %></td>
                            <td><%= muertes %></td>
                        </tr>
                    <% end %>
                </tbody>
            
            </table>           
            <div>
                <% if current_player == @player%>
                    <%= link_to 'Editar', edit_player_registration_path, class: 'btn btn-warning'%>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <%= link_to 'Volver', players_path, class: 'btn btn-secondary my-3' %>
    </div>
</div>
