<div class="container">
    <div class="row">
        <div class="col-md-5">
            <%= image_tag (@player.imagen_url).to_s , style: 'width:50%' %>
        </div>
        <div class="col-md-5">
            <h1><%= @player.name %></h1>
            <% @seasons.each do |season| %>
              <h1><%= season.name %></h1>
              <table class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                      <th scoope="col">Puntos</th>
                      <th scoope="col">Asesinatos</th>
                      <th scoope="col">Muertes</th>
                      <th scoope="col">Verdugo</th>
                      <th scoope="col">Presa facil</th>
                      <th scoope="col">Finanzas</th>
                      <th scoope="col">Soplos</th>
                      <th scoope="col" colspan="3"></th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          <% verdugo = @player.verdugos(season).first %>
                          <% presa = @player.presas(season).first %>
                          <td><%= @player.won_games_for_season(season).count %></td>
                          <td><%= @player.assassin_counter_in_season(season) %></td>
                          <td><%= @player.victim_counter_in_season(season) %></td>
                          <td><%= verdugo&.first %>: <%= verdugo&.last %></td>
                          <td><%= presa&.first %>: <%= presa&.last %></td>
                          <td><%= @player.finanzas(season) %></td>
                          <td><%= @player.email %></td>
                      </tr>
                  </tbody>
              </table>
            <% end %>

            <table class="table table-striped">
            
                <thead class="thead-dark">
                    <tr>
                        <th scoope="col">Verdugos</th>
                        <th scoope="col">Numero de muertes</th>
                        <th scoope="col" colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @player.verdugos.each do |verdugo, muertes| %>
                        <tr>
                            <td><%= verdugo %></td>
                            <td><%= muertes %></td>
                        </tr>
                    <% end %>
                </tbody>
            
            </table>           
            <div>
                <% if current_player == @player%>
                    <%= link_to 'Editar', edit_player_registration_path, class: 'btn btn-warning'%>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <%= link_to 'Volver', players_path, class: 'btn btn-secondary my-3' %>
    </div>
</div>


